/* CSS declarations go here */

html {
  //background-color: red;  // For testing only
}

h1 {
  font-size: 2em;
  line-height: 1em;  
}

h2 {
  font-size: 1em;
  line-height: 1em;  
}

hgroup {
  //background-color: green;  // For testing only
}

#container {
  margin: 1em;
}

#from-field, #to-field {
  margin-left: 3em;
}


.time {
  position: absolute;
  white-space: nowrap;
}
