/* CSS declarations go here */

h1 {
  font-size: 2em;
  line-height: 1em;  
}

h2 {
  font-size: 1em;
  line-height: 1em;  
}

hgroup {
  float: right;  
  margin-bottom: 2em;
}

#container {
  margin: 1em;
}

#from-field, #to-field {
  margin-left: 3em;
}


.time {
  position: absolute;
  white-space: nowrap;
}

#location-specifier {
  padding-top: 2em;  
}
